<!doctype html>
<head>
  <title>Sinatra</title>
  <link href="css/css.css" rel="stylesheet" type="text/css"></link>
  <script src="js/js.js" rel="javascript" type="text/javascript"></script>
</head>
<body>
  <p>This is from the layout page!</p>

  <div>
    <%= yield %>
  </div>
</body>


