<% if !@database.get_result_set.empty? %>
  <p>All registered users</p>

  <% @users.each do |user| %>
    <ul>
      <li>Username: <%= user[0] %>, Password: <%= user[1] %>, Email: <%= user[2] %></li>
    </ul>
  <% end %>

  <p>Clear database?</p>

  <form action="/users" method="post">
    <input type="submit" value="Clear!"/>
  </form>
  <% else %>
    <p>No current registered users</p>
<% end %>

<br>

<a href="/register">Register?</a>
<a href="..">Home?</a>
